.panel {
	position: fixed;
	top: 80px;
	left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 183px);
	max-height: calc(100% - 183px);
	padding: 6px;
	backdrop-filter: var(--blur);
	border: var(--border-width) solid var(--accent-color);
	border-radius: var(--radius-main);
	opacity: 0;
	transform-origin: bottom;
	transform: translateY(20px);
	transition: opacity .5s, transform .3s ease-out;
	overflow: auto;
	z-index: -1;
}

.panel--filled {
	background-color: var(--accent-color-transparent);
	border-color: transparent;
	color: var(--color-white);
}

.panel--opened {
	opacity: 1;
	transform: translateY(0);
	z-index: 1;
}

.panel__header {
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
}

.panel__section{
	padding: 10px;
	background-color: var(--accent-color-transparent);
	border-radius: .75rem;
}