.task {
  position: relative;
  max-height: 1000px;
	margin-bottom: 10px;
	-webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
	border: var(--border-width) solid var(--color-main-transparent);
	border-radius: var(--radius-main);
  transition: max-height .3s ease-in;
	overflow: hidden;
}

.task + .ghost-task {
  margin-top: 10px;
}

.task:last-of-type {
	margin-bottom: 0;
}

.task__header {
	display: flex;
  margin-bottom: 4px;
}

.task__header-controls {
  display: flex;
  gap: 10px;
	flex-shrink: 0;
  padding: 4px 5px 0 0px;
}

.task__title {
	flex-grow: 1;
	padding: 10px;
}

.task__description {
	display: block;
  margin-bottom: 10px;
	padding: 0 10px;
	font-size: 16px;
}

.task__subtasks {
	padding: 0 10px 10px;
}

.task__footer {
	padding: 5px 10px 8px;
	font-size: 14px;
}

.task--backlog {
	border-color: var(--color-grey-transparent);
	color: var(--color-grey-transparent);
}

.task--backlog .task__estimation {
	color: var(--color-grey-transparent);
}

.task--backlog .subtask::before,
.task--backlog .subtask::after {
	border-color: var(--color-grey-transparent);
}

.task--todo {
	border-color: var(--color-purple-transparent);
	color: var(--color-purple-transparent);
}

.task--todo .task__estimation {
	color: var(--color-purple-transparent);
}

.task--todo .subtask::before,
.task--todo .subtask::after {
	border-color: var(--color-purple-transparent);
}

.task--inProgress {
	border-color: var(--color-green-transparent);
	color: var(--color-green-transparent);
}

.task--inProgress .task__estimation {
	color: var(--color-green-transparent);
}

.task--inProgress .subtask::before,
.task--inProgress .subtask::after {
	border-color: var(--color-green-transparent);
}

.task--done {
	border-color: var(--color-blue-transparent);
	color: var(--color-blue-transparent);
}

.task--done .task__estimation {
	color: var(--color-blue-transparent);
}

.task--done .subtask::before,
.task--done .subtask::after {
	border-color: var(--color-blue-transparent);
}

.task--collapsed {
  max-height: 50px;
}
