.estimation {
  font-size: 14px;
}

.estimation__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.estimation__header button {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 1;
}

.estimation__progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.estimation__progress,
.estimation__overtime {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
}

.estimation__progress {
  left: 0;
  border-radius: 5px 0 0 5px;
}

.estimation__overtime {
  right: 0;
  border-radius: 0 5px 5px 0;
  background-color: var(--color-yellow);
}

.estimation__progress-values {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.estimation__over {
  color: var(--color-yellow);
}