.btn {
  position: relative;
	padding: 10px 20px;
	background-color: var(--color-main-transparent);
  border: 0;
	border-radius: var(--radius-large);
	box-shadow: var(--shadow);
	color: var(--color-white);
	cursor: pointer;
  font-family: "Nunito", sans-serif;
	font-size: 1rem;
  outline: none;
}

.btn--wide.btn--cancel {
  background-color: var(--color-grey);
}

.btn--icon {
	flex-shrink: 0;
	width: 40px;
  height: 40px;
  padding: 0;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: none;
	overflow: hidden;
}

.btn--icon.btn--filled {
	background-color: var(--color-main);
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
}

.btn--search::before {
  top: 2px;
  right: 2px;
  width: 28px;
  height: 28px;
  border: var(--border-width) solid var(--color-main-transparent);
  border-radius: 50%;
}

.btn--search::after {
  bottom: 10px;
  left: 4px;
  width: 14px;
  height: 4px;
  background-color: var(--color-main-transparent);
  border-radius: 2px 0 0 2px;
  transform: rotate(-45deg);
}

.btn--menu::before {
  top: 5px;
  left: 5px;
  width: 30px;
  height: 4px;
  background-color: var(--color-main-transparent);
  border-radius: 2px;
  box-shadow:
    0 12px 0 0 var(--color-main-transparent),
    0 24px 0 0 var(--color-main-transparent);
}

.btn--add::before,
.btn--add::after {
  top: calc(50% - 2px);
  left: calc(50% - 18px);
  width: 36px;
  height: 4px;
  background-color: var(--color-main-transparent);
  border-radius: 2px;
}

.btn--add::after,
.btn--plus::after {
  transform: rotate(90deg);
}

.btn--plus::before,
.btn--minus::before,
.btn--plus::after {
  top: calc(50% - 2px);
  left: calc(50% - 12px);
	width: 24px;
  height: 4px;
	background-color: var(--color-white);
  border-radius: 2px;
}

.btn--wide {
	display: block;
  width: 100%;
	max-width: 480px;
	margin-inline: auto;
  background-color: var(--color-main);
  font-weight: 700;
	text-align: center;
}

.btn--wide svg {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.btn--secondary {
	background-color: var(--color-white);
  border: var(--border-width) solid var(--color-main-transparent);
	color: var(--color-main);
	opacity: 0.7;
	transition: opacity .3s;
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
	opacity: 1;
}

.btn--auth {
  border: var(--border-width) solid var(--color-main-transparent);
}

.btn--auth::before {
  top: 2px;
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border: var(--border-width) solid var(--color-main-transparent);
  border-radius: 50%;
}

.btn--auth::after {
  top: 18px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border: var(--border-width) solid var(--color-main-transparent);
  border-radius: 50%;
}

.btn--color.active {
  border: 0;
}

.btn--color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
	padding: 0;
  border-radius: 50%;
  overflow: visible;
}

.btn--color.btn--backlog {
	background-color: var(--color-grey-transparent);
}

.btn--color.btn--todo {
	background-color: var(--color-purple-transparent);
}

.btn--color.btn--inProgress {
	background-color: var(--color-green-transparent);
}

.btn--color.btn--done {
	background-color: var(--color-blue-transparent);
}

.btn--color.btn--delete {
	background-color: var(--color-red);
}

.btn--loading {
	pointer-events: none;
	opacity: .3;
}

.btn--user-name {
  padding: 5px 10px;
}

.btn--boards::before,
.btn--boards::after {
  content: '';
  position: absolute;
  left: 50%;
  height: 6px;
  background-color: var(--color-main-transparent);
  border-radius: 2px;
  transform: translateX(-50%);
}

.btn--boards::before {
  top: 4px;
  width: 20px;
  box-shadow: 0 24px 0 0 var(--color-main-transparent);
}

.btn--boards::after {
  top: 12px;
  width: 30px;
  box-shadow: 0 8px 0 0 var(--color-main-transparent);
}
