.task-group {
	flex-shrink: 0;
	/* height: calc(100dvh - 200px); */
	width: calc(100vw - 20px);
	scroll-snap-align: start;
}

.task-group__header {
  display: flex;
  gap: 10px;
	margin-bottom: 10px;
}

.task-group__header-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  width: 100%;
  max-width: calc(15% - 10px);
  padding: 5px;
	border-radius: var(--radius-main);
	-webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
	box-shadow: var(--shadow);
	color: var(--color-white);
  font-size: 16px;
	text-transform: uppercase;
}

.task-group__header-tile--main {
  flex-grow: 1;
  justify-content: flex-start;
  max-width: 100%;
}

.task-group__header-tile--main .icon {
  margin-right: 5px;
  flex-shrink: 0;
}

.task-group__body {
	max-height: calc(100dvh - 235px);
	overflow: auto;
}

.task-group__body:not(:empty) + .ghost-task {
  margin-top: 10px;
}

.task-group__header-tile--backlog {
	background-color: var(--color-grey-transparent);
}

.task-group__header-tile--todo {
	background-color: var(--color-purple-transparent);
}

.task-group__header-tile--inProgress {
	background-color: var(--color-green-transparent);
}

.task-group__header-tile--done {
	background-color: var(--color-blue-transparent);
}

@media (min-width: 960px) {
	.task-group {
		width: calc(25% - 7.5px);
		gap: 10px;
	}
}