.site-footer {
  position: relative;
  padding: 24px 10px 20px;
}

.site-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 20px);
  height: 10px;
  background-color: var(--color-main-transparent);
  border-radius: 5px;
  transform: translateX(-50%);
}

.site-footer__controls {
	display: flex;
  justify-content: space-around;
  align-items: center;
	padding: 0 10px 10px;
}

.site-footer__copyright {
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 20px);
  height: 10px;
  background-color: var(--color-main-transparent);
  border-radius: 5px;
	color: var(--color-white-transparent);
	font-size: 8px;
  line-height: 10px;
	text-align: center;
  transform: translateX(-50%);
}
