.btn-add {
  transition: box-shadow .3s;
}

.btn--add::before,
.btn--add::after {
  transition: transform .3s, with .3s;
}

.btn--add.btn--active {
  box-shadow: 0 0 0 4px var(--accent-color-transparent);
}

.btn--add.btn--active::before,
.btn--add.btn--active::after {
  width: 30px;
  left: calc(50% - 15px);
}

.btn--add.btn--active::before {
  transform: rotate(45deg);
}
.btn--add.btn--active::after {
  transform: rotate(135deg);
}