*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.2;
  font-optical-sizing: auto;

  --blur: blur(3px);
  --shadow: 0 0 6px 0 rgba(var(--black-color-prop), 0.2);
	--radius-main: 1rem;
	--radius-small: .5rem;
	--radius-large: 1.5rem;
	--border-width: 4px;
  --main-color-transparency: 0.7;

	--main-color-prop: 0, 118, 110;
  --white-color-prop: 255,255,255;
  --black-color-prop: 0,0,0;
  --grey-color-prop: 100, 120, 150;
  --purple-color-prop: 102, 51, 153;
  --green-color-prop: 0, 100, 0;
  --blue-color-prop: 0, 70, 150;
  --red-color-prop: 200, 0, 100;

  --color-main: rgb(var(--main-color-prop));
  --color-white: rgb(var(--white-color-prop));
  --color-black: rgb(var(--black-color-prop));
  --color-red: rgb(var(--red-color-prop));
  --color-black: rgb(var(--black-color-prop));
  --color-grey: rgb(var(--grey-color-prop));
  --color-purple: rgb(var(--purple-color-prop));
  --color-green: rgb(var(--green-color-prop));
  --color-blue: rgb(var(--blue-color-prop));

  --color-main-transparent: rgba(var(--main-color-prop), var(--main-color-transparency));
  --color-white-transparent: rgba(var(--white-color-prop), var(--main-color-transparency));
  --color-black-transparent: rgba(var(--black-color-prop), var(--main-color-transparency));
  --color-red-transparent: rgba(var(--red-color-prop), var(--main-color-transparency));
  --color-black-transparent: rgba(var(--black-color-prop), var(--main-color-transparency));
  --color-grey-transparent: rgba(var(--grey-color-prop), var(--main-color-transparency));
  --color-purple-transparent: rgba(var(--purple-color-prop), var(--main-color-transparency));
  --color-green-transparent: rgba(var(--green-color-prop), var(--main-color-transparency));
  --color-blue-transparent: rgba(var(--blue-color-prop), var(--main-color-transparency));
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  margin: 0;
  background-image: radial-gradient(
    circle,
    rgba(var(--main-color-prop), .2) 2px,
    transparent 1px
  );
  background-size: 20px 20px;
  color: var(--color-main);
	overflow: hidden;
}

main {
  position: relative;
  flex-grow: 1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
	list-style: none;
}

.form p {
	margin-bottom: 20px;
}

@keyframes topDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
