*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.2;
  font-optical-sizing: auto;

  --blur: blur(6px);
  --shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
	--radius-main: 1rem;
	--radius-small: .5rem;
	--radius-large: 1.5rem;
	--border-width: 4px;


	--main-color-prop: 0, 118, 110;
  --color-white: #fff;
	--color-white-transparent: rgba(255, 255, 255, var(--accent-color-transparency));
  --color-black: black;
  --color-red: rgb(200, 0, 100);
  --accent-color-transparency: 0.7;
  --accent-color: rgb(var(--main-color-prop));
  --accent-color-transparent: rgba(
    var(--main-color-prop),
    var(--accent-color-transparency)
  );
	--color-backlog: rgba(120, 120, 150, var(--accent-color-transparency));
	--color-todo: rgba(102, 51, 153, var(--accent-color-transparency));
	--color-inProgress: rgba(0, 100, 0, var(--accent-color-transparency));
	--color-done: rgba(0, 50, 150, var(--accent-color-transparency));
  --color-gray: rgb(160, 170, 180);
  --color-gray-light: rgb(200, 200, 220);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  margin: 0;
  background-image: radial-gradient(
    circle,
    rgba(var(--main-color-prop), .2) 2px,
    transparent 1px
  );
  background-size: 20px 20px;
  color: var(--accent-color);
	overflow: hidden;
}

main {
  position: relative;
  flex-grow: 1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
	list-style: none;
}

.form p {
	margin-bottom: 20px;
}

@keyframes topDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
